body {
	background: #d9d9d9 !important;
}

.myList {
	background: white !important;
}

.myMenu {
	background: #ff6600 !important;
}

.myMenuInbox {
  width: 25% !important;
  margin: 0px auto !important;
}

.nav { 
	background: #ff6600 !important;
  &:hover {
    background: #ffc299 !important;
  }
}

.navSearch { 
  background: #ff6600 !important;
}

.text {
	color: black !important;
}

.usernameBox {
  padding: 12px 0px 0px 10px !important;
  border-radius: 5px;
  background-color: white !important;
  margin-bottom: 10px !important;
}

.usernameList {
  font-size: 32px !important;
  margin: 20px 0px 10px 20px !important;
}
.topGap {
  margin-top: 10px !important;
}

.messageBody {
  margin-left: 20px !important;
  margin-top: 5px !important;
  font-size: 16px !important;
  border-left-style: solid;
  border-color: lightgray;
  border-left-width: thin;
  padding-left: 10px !important;
}

.subjectHeader {
  text-decoration: underline !important;
  font-size: 18px !important;
}

.fromHeader {
  margin-left: 10px !important;
  font-style: italic !important;
  font-size: 12px !important;
}

.fromEntry {
  font-style: italic !important;
  font-size: 12px !important;
}

.entireHeader {
  margin-left: 10px !important;
}

.inboxBox {
  margin-top: 10px !important;
}

.mainTitle {
  font-size: 18px !important;
}

.time {
  margin-left: 10px !important;
  display: inline-block;
}

.inboxTime {
  margin-top: 5px !important;
  margin-left: 10px !important;
}

.postArea {
  margin-top: 10px !important;
}

.reply {
  padding: 5px 15px !important;
  font-size: 12px !important;
  margin-left: 10px !important;
}






